@use '/src/App' as v;

#footer {
    background-color: v.$dark-violet;
    padding: 2rem 2rem;
    display: flex;
    color: v.$white;
    text-align: center;
    @media only screen and (min-width: map-get(v.$grid-breakpoints, lg)) {
        text-align: left;
        padding: 3rem 2rem;
    }
    .logo {
        filter: brightness(0) invert(1);
        padding: 2rem 0;
        @media only screen and (min-width: map-get(v.$grid-breakpoints, lg)) {
            padding: 0;
        }
    }
    .footer-header {
        font-weight: 700;
    }
    .nav {
        margin-bottom: 2rem;
        flex-direction: column;
        @media only screen and (min-width: map-get(v.$grid-breakpoints, lg)) {
            margin-bottom: 0;
        }
        .nav-link {
            color: v.$gray;
            font-size: 0.875rem;
            &:hover {
                color: v.$cyan;
            }
            @media only screen and (min-width: map-get(v.$grid-breakpoints, lg)) {
                padding-left: 0;
            }
        }
    }
    .social-icons {
        justify-content: space-evenly;
        > .nav-link > img {
            &:hover {
                filter: invert(0%) sepia(86%) saturate(1631%) hue-rotate(128deg) brightness(85%) contrast(90%);
            }
        }
    }
}