@use '/src/App' as v;

#statistics-container {
    padding: 2rem 8% 3rem 8%;
    @media only screen and (min-width: map-get(v.$grid-breakpoints, xl)) {
        padding: 2rem 10% 3rem 10%;
    }
    background-color: v.$pastel-blue;
    #statistics-header {
        @media only screen and (min-width: map-get(v.$grid-breakpoints, md)) {
            padding: 0 10rem;
            margin: 2.5rem 0 0 0;
        }
        @media only screen and (min-width: map-get(v.$grid-breakpoints, lg)) {
            padding: 0 12rem;
        }
    }
    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: -1px;
        text-align: center;
        margin-bottom: 1rem;
    }
    p {
        font-size: 0.9rem;
        letter-spacing: 0px;
        line-height: 1.75rem;
        font-weight: 500;
        text-align: center;
        color: v.$gray-violet;
    }

    #statistics-row {
        background: linear-gradient(v.$cyan, v.$cyan) no-repeat center/8px 60%;
        @media only screen and (min-width: map-get(v.$grid-breakpoints, lg)) {
            background: none;
            padding-bottom: 3rem;
            position: relative;
            .divider {
                background-color: v.$cyan;
                height: 8px;
                position: absolute;
                bottom: 38%;
                text-align: center;
                width: 80%;
                margin-left: 1rem;
            }
        }
    }

    .stat {
        @media only screen and (min-width: map-get(v.$grid-breakpoints, lg)) {
            h2, p { 
                text-align: left;
            }
            &:nth-of-type(1) {
                position: relative;
            }
            &:nth-of-type(2) {
                position: relative;
                top: 1.5rem;
            }
            &:nth-of-type(3) {
                position: relative;
                top: 3rem;
            }
        }
        .img-container {
            position: relative;
            z-index: 1000;
            top: 40px;
            width: 80px;
            height: 80px;
            margin: auto;
            border-radius: 50%;
            background-color: v.$dark-violet;
            @media only screen and (min-width: map-get(v.$grid-breakpoints, lg)) {
                margin-left: 1rem;
            }
            img {
                width: 70%;
                height: 70%;
                padding: 0.5rem;
                margin: auto;
            }
        }
        .desc-container {
            background-color: v.$white;
            border-radius: 8px;
            padding: 3rem 1.5rem 1rem 1.5rem;
            h2 {
                font-size: 1.25rem;
            }
            p {
                line-height: 1.35rem;
                font-size: 0.8rem;
                letter-spacing: -0.25px;
            }
        }
    }
}